

#container {
    border: 0px solid;
    
    max-width: 640px;
/*
    padding-left: 50px;
    padding-right: 50px;
*/
    margin: auto;
    display: block;
    overflow-x: hidden;
}

h1 {
    border: 3px solid;
    border-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 1px;
    padding-left: 1px;
    
    font-family: Helvetica;
    font-size: 30px;
    color: white;
    top: 0px;
    position: fixed;
    background-color: #f1c40f;
    width: 642px;
    z-index: 1;
    text-align: center;
    display: block;
    
}
